@rendermode InteractiveServer
@inject IJSRuntime js

<style>

.link {
  stroke: #000;
  stroke-width: 1.0px;
}

.node {
  cursor: move;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.0px;
}

.node.fixed {
  stroke: #00f;
}

.text {
  stroke-width: 0.5px;
}

</style>

<div id="container"></div>

<script src=".d3/d3.min.js"></script>
<script src="/dist/CodeExplorer.js"></script>

@code {

  [Parameter] public object? Graph { get; set; }

  protected override async Task OnAfterRenderAsync(bool firstRender) {
    if (Graph is not null) {
      await js.InvokeVoidAsync("showGraph", Graph);
    }
    //if (firstRender){
    //}
  }

}
