

@inject IJSRuntime js

<div id="container"></div>

<script src=".d3/d3.min.js"></script>
<script src="/dist/CodeExplorer.js">

</script>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender) {

    }

}
